* {
  font-family: 'Roboto',
    sans-serif;
}
#img-bg {
  background-image: url('../../assets/img/background-carrosel3.png');

  min-height: 969px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

